.form-container {
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 768px) {
    .form-container {
      flex-direction: row;
    }
  }

  .select{
    width:100%;
  }
  
  .select:focus {
    outline: none;
    border-color: #6c63ff;
    box-shadow: 0 0 5px #6c63ff;
  }
  
  .form-row {
    margin: 20px 5px;
    display: flex;
    display: inline-block;
    padding: 3px;
    border: 2px solid blue;
    background:white;
  }
  
  .form-row label {
    display: block;
  font-size: 12px;
  color: blue;
  }
  
  .form-row input[type="text"],
  .form-row select {
    outline: none;
    border: none;
    display:block;
    line-height: 1.2em;
    font-size: 14pt;
  }
  
  .form-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF69B4;
    color: #FFF;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 30px;
    border: none;
    box-shadow: 0 4px 6px rgba(255, 105, 180, 0.3);
    transition: all 0.3s ease;
    cursor:pointer
  }
  
  .button-container {
    margin: 20px 5px;
    display: flex;
    display: inline-block;
    padding: 3px;
  }
  
  
  .form-button:hover {
    background-color: #FFC0CB;
    box-shadow: 0 6px 8px rgba(255, 105, 180, 0.5);
  }

  .form-button:active {
    background-color: #cc959e;
    box-shadow: 0 6px 8px rgba(255, 105, 180, 0.5);
  }

  